@{
    ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    85 Enterprise Blvd #407<br />
    Markham, ON L6G<br />
    <abbr title="Phone">P:</abbr>
    (905) 881-6071
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@microdea.com">Support@microdea.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@microdea.com">Marketing@microdea.com</a>
</address>
